# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.WowieJam3.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\canni\Documents\Code\Unity\Jams\WowieJam3\.idea\.idea.WowieJam3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
